/* Variables a reutilizar */
:root {
	/* Paleta de colores */
	--color-primary: #595959;
	--color-secondary: #c7a17a;
	--color-background: #f0f0f0;
	--color-background-dark: #111111;
	--color-text-light: #ffffff;
	--color-text-mid: #6c6b6b;
	--color-text-dark: #333;

	/* Tipografías */
	--font-title: 'Oswald', sans-serif;
	--font-body: 'Lato', sans-serif;
}

/*///////////////// ESTILOS GENERALES//////////////////*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	color: var(--color-text-dark);
}

main {
	padding-top: 4em;
	min-height: 60vh;
}

/*----- Estilos para Header/Navbar -----*/
.header-container {
	font-family: var(--font-title);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 2em;
	background-color: var(--color-background-dark);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	transition: top 0.3s;
}

nav {
	flex: 1;
	display: flex;
	justify-content: center;
}

.nav-list {
	list-style-type: none;
	display: flex;
	gap: 1.5em;
	margin: 0;
	padding: 0;
}

.nav-list li {
	display: inline;
}

.nav-list a {
	color: white;
	text-decoration: none;
	font-size: 16px;
	transition: color 0.3s;
}

.nav-list a:hover {
	color: var(--color-text-mid);
}

.logo-container {
	display: flex;
	justify-content: center;
	margin-left: 3em;
}
.logo {
	height: 3em;
}

/*----- Estilos para Footer -----*/
footer {
	background-color: var(--color-background-dark);
	color: var(--color-text-light);
}

.footer-top-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 3em 2em;
}

.footer-logo-container {
	margin-left: 3em;
}

.footer-logo {
	height: 5em;
}

.footer-section h3,
.footer-newsletter h3 {
	color: var(--color-secondary);
	font-family: var(--font-title);
	margin-bottom: 0.5em;
}

.footer-links {
	display: flex;
	gap: 40px;
}

.footer-section {
	padding: 0 4em;
}
.footer-section ul {
	list-style: none;
}

.footer-section ul li {
	margin-bottom: 1em;
}

.footer-section ul li a {
	color: var(--color-text-mid);
	font-family: var(--font-body);
	text-decoration: none;
}

.footer-section ul li a:hover {
	color: var(--color-text-light);
}

.footer-newsletter {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	margin-right: 4em;
}

.newsletter-input-container {
	display: flex;
	font-family: var(--font-body);
}

.footer-newsletter input {
	width: 100%;
	color: var(--color-text-mid);
	background-color: var(--color-background-dark);
	padding: 1em;
	border: 2px solid var(--color-text-mid);
	border-right: none;
	border-radius: 0;
}

.subscribe-button {
	background-color: var(--color-secondary);
	color: var(--color-text-dark);
	font-weight: bold;
	border: none;
	padding: 1em 2em;
	border-radius: 0;
	cursor: pointer;
	transition: background-color 0.3s;
}

.subscribe-button:hover {
	background-color: var(--color-primary);
}

.footer-social-icons {
	display: flex;
	gap: 10px;
}

.footer-social-icons a {
	color: var(--color-text-light);
	background-color: var(--color-primary);
	text-decoration: none;
	font-size: 20px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: background-color 0.3s;
}

.footer-social-icons a:hover {
	background-color: var(--color-secondary);
}

.footer-divider {
	border: none;
	border-top: 2px solid var(--color-primary);
}

.footer-bottom-container {
	color: var(--color-text-light);
	font-family: var(--font-body);
	padding: 2em 6em;
	text-align: left;
	font-size: 0.8em;
	line-height: 1.6;
}

/*///////////////// ESTILOS PÁGINA INDEX//////////////////*/

/*///////////////// ESTILOS PÁGINA CONTACTO//////////////////*/
.container {
	display: inline-flex;
	min-width: 100%;
}
.leftColumn,
.rightColumn {
    flex: 1; 
	padding: 30px 40px; 
	min-width: 50%;
}

.leftColumn {
    display: flex;
    flex-direction: column;  
    align-items: baseline;
	border-right: 1px solid transparent;
    background: linear-gradient(to bottom, transparent 10%, lightgray 10%, lightgray 90%, transparent 90%);
    background-size: 1px 100%; 
    background-repeat: no-repeat;
    background-position: right center;
}

.rightColumn {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;  
}

.contactTitle {
	font-family: var(--font-title);
	font-size: 1.5em;
}

.paragraphStyles {
	font-family: var(--font-body);
	color: var(--color-text-mid);
	font-size: smaller;
	padding-bottom: 30px;
	line-height: 1.6;
}

.titleContainer {
	display: inline-flex;
	padding: 30px 0px 15px;
	width: 100%;
}

.lineContainer {
	flex-direction: column; 
	flex: 1; 
    align-content: center;
}

.h4Container {
	flex-direction: column;
	flex: 1; 
}

.hrStyles {
	background-color: var(--color-text-mid);
	height: 1px;
	width: 100%;
	opacity: 0.3;
}

.form {
	display:flex ;
	flex-direction: column;
}

.labelStyles {
	color: var(--color-primary);
}

.inputStyles {
	height: 2.5em;
	margin-bottom: 1.5em;
	background-color: #f5f4f5;
	border-color: var(--color-text-mid);
	border-width: 2px;
}

input:focus {
    outline: none;
}

.buttonStyles {
	width: 90px;
	height: 40px;
	background-color: var(--color-secondary);
	border: none;
	color: white;
	font-weight: bold;
}

.buttonStyles:hover {
	background-color: #b59e6c;
}

.iconStyles {
	height: 90px;
	font-size: 40px;
}
.iconStyles:hover{
	color: var(--color-primary);
}

/*///////////////// ESTILOS PÁGINA FRANQUICIAS//////////////////*/
.franchise-heading{
	text-align: center;
}
.franchise-subtitle{
	font-size: 16px;
	line-height: 20px;
	color: var(	--color-secondary);
	margin: 35px auto 25px;
	font-family: var(--font-body);
	font-weight: 300;
}
.franchise-title{
	font-size: 36px;
	line-height: 40px;
	font-family: "Oswald";
	color: var(--color-text-dark);
	font-weight: 700;
	margin-bottom: 25px;
}
.franchise-divider-line{
	border: none;
    height: 2px; /* Ajusta el grosor de la línea */
    background-color: var(	--color-secondary);
    width: 115px; /* Ajusta el ancho de la línea */
    margin: 10px auto; /* Centra la línea horizontalmente y ajusta el espacio alrededor */
}
.franchise-description{
	margin-top: 30px;
	font-family: var(--font-body);
	color: var(--color-text-mid);
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;

}
.no-line {
    border-right: none;
    background: none;
}
.inputStyleFranchise{
	width: 100%;
	height: 3em;
}
.containerButton{
 margin: auto 40px 30px;
}

/*///////////////// ESTILOS PÁGINA MENÚ-TIENDA//////////////////*/

/*///////////////// ESTILOS PÁGINA TIENDA//////////////////*/

/*///////////////// ESTILOS PÁGINA TRABAJA-EN-TDC//////////////////*/
.textareaTCV{
	
}
.containerMensaje{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
	margin: 0px 40px 30px;

}
/*///////////////// ESTILOS PÁGINA TUTORIALES//////////////////*/

.tutorial-container {
	background: white;	
	display: flex;
	flex-flow: column nowrap;
	align-items: center;	
}
.tutorial-text {
	background: #ffffff;
	display: flex;
}
.tutorials {	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	  
	margin: 0 auto;
}  
.tutorial-information {
	width: 45%;
	display: flex;
	flex: 1 1 48%;
	flex-direction: column;	
	padding: 5px;
	box-sizing: border-box;	
}  
.tutorial-detail {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: stretch;
	justify-content: center;
	background-position: center;	
	position:relative;
}  
.tutorial-information img {
	width: 100%;      
	height: 80%;
	object-fit: contain;  
}
.tutorial-information img:hover{
	transform: scale(1.03); 
	transition: transform 0.3s ease-in-out; 
}
.tutorial-information h1
{	position: absolute;
	z-index: 1;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Oswald;
	color: #ffffff;	
	font-size: 1.8em;	
	text-align: center;
	text-decoration: none
}
.tutorial-information a {
	position: absolute;
	z-index: 1;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Lato;
	color: #ffffff;
	font-size: 1.1em;
	text-decoration: underline solid #c7a17a 0.2em;	
	text-align: center;
}
.tutorial-information a:hover {
	color: #c7a17a;
}
.tutorial-text{
	align-items: center;
}
.tutorial-text p {   
	width: 100%;	
	display: flex;	
	font-family: Oswald;	
	letter-spacing: -0.03em;
	opacity: 0.4; 
	font-size: 1.3em;
	text-align: center;
    line-height: 1.6em;
	margin: 1.6em;	
	position: relative;
}
hr{
	border: 1px solid #dddddd52; 
	margin: 20px 0; 
	width: 95%;
}

/*///////////////// ESTILOS EN DISTINTOS DISPOSITIVOS//////////////////*/

/*----- Tablet horizontal -----*/
@media (max-width: 1080px) {
}

/*----- Tablet vertical ------*/
@media (max-width: 768px) {
	.tutorial-information h1{
		font-size: 1.49em;
	}
	.tutorial-information a{
		font-size: 0.92em;
	}
}

/*----- Mobil 1 -----*/
@media (max-width: 480px) {
	.tutorial-information h1{
		font-size: 0.92em;
	}
	.tutorial-information a{
		font-size: 0.57em;
	}
}

/*----- Mobil 2 -----*/
@media (max-width: 375px) {
	.tutorial-information h1{
		font-size: 0.74em;
	}
	.tutorial-information a{
		font-size: 0.46em;
	}
}
