/* Variables a reutilizar */
:root {
	/* Paleta de colores */
	--color-primary: #595959;
	--color-secondary: #c7a17a;
	--color-background: #f0f0f0;
	--color-background-mid: #dddddd;
	--color-background-dark: #111111;
	--color-border-light: #dcdbdb;
	--color-text-light: #ffffff;
	--color-text-mid: #6c6b6b;
	--color-text-dark: #333;

	/* Tipografías */
	--font-title: 'Oswald', sans-serif;
	--font-body: 'Lato', sans-serif;
}

/*///////////////// ESTILOS GENERALES//////////////////*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	color: var(--color-text-dark);
}

main {
	padding-top: 4em;
	min-height: 60vh;
}

.classic-button {
	font-family: var(--font-body);
	text-decoration: none;
	color: var(--color-text-light);
	border: 2px solid var(--color-text-mid);
	font-weight: bold;
	padding: 0.8em 2em;
	margin: 1em 0;
	width: fit-content;
	cursor: pointer;
	transition: border 0.3s;
	filter: none;
	background-color: transparent;
}
.classic-button:hover {
	border: 2px solid var(--color-text-light);
}

/*----- Estilos para Header/Navbar -----*/
.header-container {
	font-family: var(--font-title);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 2em;
	background-color: var(--color-background-dark);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	transition: top 0.3s;
}

.nav-menu {
	flex: 1;
	display: flex;
	justify-content: center;
}

.menu-toggle,
.sidebar {
	display: none;
}

.logo-container {
	display: flex;
	justify-content: center;
	margin-left: 3em;
}
.logo {
	height: 3em;
}

.nav-list {
	list-style-type: none;
	display: flex;
	gap: 1.5em;
	margin: 0;
	padding: 0;
}

.nav-list li {
	display: inline;
}

.nav-list a {
	color: var(--color-text-light);
	text-decoration: none;
	font-size: 16px;
	transition: color 0.3s;
}

.nav-list a:hover {
	color: var(--color-text-mid);
}

/*----- Estilos para Footer -----*/
footer {
	background-color: var(--color-background-dark);
	color: var(--color-text-light);
}

.footer-top-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 3em 2em;
}

.footer-logo-container {
	margin-left: 3em;
}

.footer-logo {
	height: 5em;
}

.footer-section h3,
.footer-newsletter h3 {
	color: var(--color-secondary);
	font-family: var(--font-title);
	margin-bottom: 0.5em;
}

.footer-links {
	display: flex;
	gap: 40px;
}

.footer-section {
	padding: 0 4em;
}
.footer-section ul {
	list-style: none;
}

.footer-section ul li {
	margin-bottom: 1em;
}

.footer-section ul li a {
	color: var(--color-text-mid);
	font-family: var(--font-body);
	text-decoration: none;
}

.footer-section ul li a:hover {
	color: var(--color-text-light);
}

.footer-newsletter {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	margin-right: 4em;
}

.newsletter-input-container {
	display: flex;
	font-family: var(--font-body);
}

.footer-newsletter input {
	width: 100%;
	color: var(--color-text-mid);
	background-color: var(--color-background-dark);
	padding: 1em;
	border: 2px solid var(--color-text-mid);
	border-right: none;
	border-radius: 0;
}

.subscribe-button {
	background-color: var(--color-secondary);
	color: var(--color-text-dark);
	font-weight: bold;
	border: none;
	padding: 1em 2em;
	border-radius: 0;
	cursor: pointer;
	transition: background-color 0.3s;
}

.subscribe-button:hover {
	background-color: var(--color-primary);
}

.footer-social-icons {
	display: flex;
	gap: 10px;
}

.footer-social-icons a {
	color: var(--color-text-light);
	background-color: var(--color-primary);
	text-decoration: none;
	font-size: 20px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: background-color 0.3s;
}

.footer-social-icons a:hover {
	background-color: var(--color-secondary);
}

.footer-divider {
	border: none;
	border-top: 2px solid var(--color-primary);
}

.footer-bottom-container {
	color: var(--color-text-light);
	font-family: var(--font-body);
	padding: 2em 6em;
	text-align: left;
	font-size: 0.8em;
	line-height: 1.6;
}

/*///////////////// ESTILOS PÁGINA INDEX//////////////////*/
/* Sección Banner */
.carousel {
	position: relative;
	width: 100%;
	height: 70vh;
	margin: auto;
	overflow: hidden;
}

.carousel-container {
	display: flex;
	width: 100%;
	transition: transform 0.5s ease-in-out;
}

.carousel-slide {
	min-width: 100%;
	position: relative;
}

.carousel-slide img {
	width: 100%;
	display: block;
}

.carousel-text {
	position: absolute;
	top: 23%;
	left: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: var(--color-text-light);
	padding: 1em;
	max-width: 550px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.carousel-text.active {
	animation: slideUp 0.5s ease-out forwards;
}

.carousel-text .title-banner {
	font-family: var(--font-title);
	font-weight: 100;
	margin: 0;
	font-size: 2em;
}

.carousel-text h2 {
	font-family: var(--font-title);
	font-weight: 800;
	margin: 0;
	font-size: 4em;
}

.carousel-text h3 {
	font-family: var(--font-body);
	font-weight: 400;
	font-size: 1em;
	margin: 0.5em 0;
}

.carousel-navigation .prev,
.carousel-navigation .next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-100%);
	color: var(--color-text-light);
	font-size: 1.8em;
	cursor: pointer;
	padding: 10px;
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s ease;
}
.carousel:hover .carousel-navigation .prev {
	transform: translateY(-50%) translateX(0);
	opacity: 1;
}

.carousel:hover .carousel-navigation .next {
	transform: translateY(-50%) translateX(0);
	opacity: 1;
}

.carousel-navigation .prev {
	left: 1.5em;
}

.carousel-navigation .next {
	transform: translateY(-50%) translateX(100%);
	right: 1.5em;
}

.carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 10px;
}

.carousel-indicators .dot {
	width: 15px;
	height: 15px;
	background-color: transparent;
	border: 1px solid var(--color-text-mid);
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s;
}

.carousel-indicators .dot:hover {
	border: 1px solid var(--color-text-light);
}

.carousel-indicators .dot.active {
	background-color: var(--color-text-light);
	border: 1px solid var(--color-text-light);
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Sección Slider de productos */
.slider {
	position: relative;
	background-color: var(--color-text-light);
	padding: 3em;
	overflow: hidden;
}
.slider h2 {
	font-family: var(--font-title);
	font-size: 2em;
	text-align: center;
	margin: 2em 0 0.5em;
}

.line {
	width: 7em;
	height: 0.1em;
	background-color: var(--color-secondary);
	margin: 0.5rem auto 2em;
}

.slider-container {
	position: relative;
	overflow: hidden;
}

.slider-wrapper {
	display: flex;
	justify-content: space-around;
	transition: transform 0.5s ease;
	width: 200%;
	padding: 0em 3em;
}

.arrows button.prev,
.arrows button.next {
	position: absolute;
	top: 60%;
	transform: translateY(-50%);
	font-size: 1.5em;
	color: var(--color-text-mid);
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 10px;
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.arrows button.prev {
	left: -30px;
}

.arrows button.next {
	right: -30px;
}

.slider:hover .arrows button.prev {
	transform: translateY(-50%) translateX(50px);
	opacity: 1;
}

.slider:hover .arrows button.next {
	transform: translateY(-50%) translateX(-50px);
	opacity: 1;
}

.dots {
	text-align: center;
	margin-top: 10px;
}

.dots .dot {
	height: 10px;
	width: 10px;
	margin: 0 5px;
	background-color: transparent;
	border: 1px solid var(--color-text-mid);
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
	transition: background-color 0.3s;
}

.dots .dot:hover {
	border: 2px solid var(--color-text-dark);
}

.dots .dot.active {
	background-color: var(--color-text-dark);
	border: 1px solid var(--color-text-dark);
}

/* Sección Nuestros tutoriales */
.tutorials-section {
	display: flex;
	justify-content: space-between;
	background-color: var(--color-text-light);
	gap: 1.5em;
	padding: 3em 8em;
}

.tutorial-card {
	position: relative;
	flex: 1;
	height: 26em;
	overflow: hidden;
	cursor: pointer;
}

.tutorial-card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform 0.3s ease;
	transform: scale(1);
	z-index: 1;
}

.tutorial-card:nth-child(1)::before {
	background-image: url('../assets/img/tutorial-1.jpg');
}

.tutorial-card:nth-child(2)::before {
	background-image: url('../assets/img/tutorial-2.jpg');
}

.tutorial-card:hover::before {
	transform: scale(1.1);
}

.tutorial-card-content {
	position: relative;
	z-index: 3;
	color: var(--color-text-light);
	padding: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
}

.card-subtitle {
	background-color: var(--color-background);
	color: var(--color-text-dark);
	font-family: var(--font-body);
	font-size: 1em;
	padding: 0.5em;
	margin: 0 0 0.2em;
	width: fit-content;
}

.card-title {
	font-family: var(--font-title);
	font-size: 3em;
	font-weight: 700;
	margin: 0 0 0.5em;
}

.tutorial-button {
	font-family: var(--font-body);
	width: fit-content;
	background-color: var(--color-background-dark);
	color: var(--color-text-light);
	padding: 0.5em 1em;
	text-align: center;
	text-decoration: none;
	font-size: 0.8em;
}

/* Sección Nuestros vino */
.our-wine {
	padding: 3em 8em;
	background-color: var(--color-background);
}

.our-wine h5 {
	font-family: var(--font-body);
	color: var(--color-secondary);
	text-align: center;
}

.our-wine h2 {
	font-family: var(--font-title);
	font-size: 2em;
	text-align: center;
	margin: 1em 0;
}

.our-wine-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.text-column {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
}

.right-aligned {
	text-align: right;
}

.left-aligned {
	text-align: left;
}

.our-wine-text {
	margin: 1em 0;
}

.our-wine-text h3 {
	font-family: var(--font-title);
	color: var(--color-secondary);
	margin-bottom: 0.8em;
}

.our-wine-text p {
	font-family: var(--font-body);
	color: var(--color-text-mid);
	line-height: 1.5;
}

.central-image {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1em;
	width: 50em;
}

.central-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Sección Encontrá tu tienda */
.store-finder {
	position: relative;
	width: 100%;
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../assets/img/tienda-vino.jpg');
	background-size: cover;
	background-position: center;
	filter: grayscale(100%);
	z-index: 1;
}

.overlay {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.pre-title {
	font-family: var(--font-title);
	color: var(--color-text-light);
	font-size: 4em;
}

.title {
	font-family: var(--font-title);
	color: var(--color-secondary);
	font-size: 6em;
	font-weight: bold;
}

.subtitle {
	font-family: var(--font-body);
	color: var(--color-text-light);
	font-size: 1.5em;
	margin-bottom: 1em;
}
/*///////////////// ESTILOS GENERALES PAGINAS DE FORMULARIOS//////////////////*/
.containerform {
	display: inline-flex;
	min-width: 100%;
	flex-wrap: wrap;
}

.leftColumn,
.rightColumn {
	flex: 1;
	padding: 0px 40px;
	min-width: 50%;
}

.leftColumn {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	border-right: 1px solid transparent;
	background: linear-gradient(
		to bottom,
		transparent 10%,
		lightgray 10%,
		lightgray 90%,
		transparent 90%
	);
	background-size: 1px 100%;
	background-repeat: no-repeat;
	background-position: right center;
}

.rightColumn {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.labelStyles {
	color: var(--color-primary);
	font-family: var(--font-body);
}

.inputStyles {
	height: 2.5em;
	margin-bottom: 1.5em;
	background-color: #f5f4f5;
	border-color: var(--color-text-mid);
	border-width: 2px;
}
.buttonStyles {
	width: 90px;
	height: 40px;
	background-color: var(--color-secondary);
	border: none;
	color: var(--color-text-light);
	font-weight: bold;
	margin-bottom: 30px;
}
.buttonStyles:hover {
	background-color: #b59e6c;
}
/*///////////////// ESTILOS PÁGINA CONTACTO//////////////////*/
.padding-vertical {
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}

.contactTitle {
	font-family: var(--font-title);
	font-size: 1.5em;
}

.paragraphStyles {
	font-family: var(--font-body);
	color: var(--color-text-mid);
	font-size: smaller;
	padding-bottom: 30px;
	line-height: 1.6;
}

.titleContainer {
	display: inline-flex;
	padding: 30px 0px 15px;
	width: 100%;
}

.lineContainer {
	flex-direction: column;
	flex: 1;
	align-content: center;
}

.h4Container {
	flex-direction: column;
	flex: 1;
}

.hrStyles {
	background-color: var(--color-text-mid);
	height: 1px;
	width: 100%;
	opacity: 0.3;
}

.form {
	display: flex;
	flex-direction: column;
}
input:focus {
	outline: none;
}

.iconStyles {
	height: 90px;
	font-size: 40px;
}
.iconStyles:hover {
	color: var(--color-primary);
}

/*///////////////// ESTILOS PÁGINA FRANQUICIAS Y TRABAJA EN TDC//////////////////*/
.franchiseAndTDC-heading {
	text-align: center;
}
.franchiseAndTDC-subtitle {
	font-size: 16px;
	line-height: 20px;
	color: var(--color-secondary);
	margin: 35px auto 25px;
	font-family: var(--font-body);
	font-weight: 300;
}
.franchiseAndTDC-title {
	font-size: 36px;
	line-height: 40px;
	font-family: var(--font-title);
	color: var(--color-text-dark);
	font-weight: 700;
	margin-bottom: 25px;
}
.franchiseAndTDC-divider-line {
	border: none;
	height: 2px;
	background-color: var(--color-secondary);
	width: 115px;
	margin: 10px auto;
}
.franchiseAndTDC-description {
	margin: 30px auto 40px;
	font-family: var(--font-body);
	color: var(--color-text-mid);
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
}
.no-line {
	border-right: none;
	background: none;
}
.inputStyleFranchise {
	width: 100%;
	height: 3em;
}
.containerButton {
	margin: auto 40px 30px;
}

/*///////////////// ESTILOS PÁGINA MENÚ-TIENDA//////////////////*/
/* Sección Banner */
.banner-text {
	position: absolute;
	top: 20%;
	left: 10%;
	color: var(--color-text-light);
	max-width: 400px;
}

.banner-title {
	font-family: var(--font-title);
	font-weight: 100;
	font-size: 2em;
}

.banner-title-2 {
	font-family: var(--font-title);
	font-weight: 600;
	margin: 0;
	font-size: 4em;
}

.banner-text h3 {
	font-family: var(--font-body);
}

/* Sección Galería */
.gallery-container {
	display: flex;
	justify-content: center;
	padding: 2em 6em;
}

.gallery-column {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin: 0 auto;
	width: 46%;
}

.image-container {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
}

.image-container img {
	width: 100%;
	height: auto;
	object-fit: cover;
	transition: transform 0.3s ease;
	display: block;
}

.image-container:hover img {
	transform: scale(1.1);
}

/* Sección Menú */
.wine-menu-container {
	background-color: var(--color-background-mid);
	padding: 2em 6em;
	margin: 0 6em;
}

.wine-menu-container h2 {
	font-family: var(--font-title);
	font-size: 2em;
	color: var(--color-text-dark);
	text-align: center;
	margin: 2em 0;
}

.wine-menu-image-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.menu-image {
	flex: 1 1 15%;
	margin: 0.5em;
	max-width: 18%;
}

.menu-image img {
	width: 100%;
	height: auto;
}

/*///////////////// ESTILOS PÁGINA TIENDA//////////////////*/

.tienda-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin: 20px auto;
	padding: 20px;
	justify-content: center;
}

.tienda-product-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.tienda-product {
	display: flex;
	flex-direction: column;
}

.tienda-product-top {
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: var(--color-text-light);
	padding: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
}

.tienda-names {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: var(--font-title);
	margin-top: 5px;
	margin-bottom: 20px;
}

.tienda-product:hover {
	transform: translateY(-5px);
	transition: transform 0.3s ease;
}

.tienda-product img {
	width: 100%;
	height: auto;
}

.tienda-main-image {
	display: block;
	width: 100%;
	height: auto;
}

.tienda-hover-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: scale(1);
	transition: opacity 0.9s ease, transform 0.99s ease;
}

.tienda-product:hover .tienda-main-image {
	opacity: 0;
}

.tienda-product:hover .tienda-hover-img {
	opacity: 1;
	transform: scale(1.1);
}

.tienda-hover-img img {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

.tienda-names h3 {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: var(--color-text-dark);
	text-align: center;
}

.tienda-names h3 a {
	color: inherit;
	text-decoration: none;
}

.tienda-names h3 a:hover {
	color: var(--color-text-mid);
}

/*///////////////// ESTILOS PÁGINA TRABAJA-EN-TDC//////////////////*/
.textareaTCV {
	overflow: auto;
	min-height: 190px;
	width: 100%;
	resize: vertical;
}

.containerMensaje {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	align-items: flex-start;
	margin: 0px 40px 5px;
}
input[type='file'] {
	padding: 7px 15px;
	max-width: 100%;
	width: 100%;
	border: 2px solid var(--color-text-mid);
}

/*///////////////// ESTILOS PÁGINA TUTORIALES//////////////////*/

.tutorial-container {
	background: var(--color-background);
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.tutorial-text {
	background: var(--color-background);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em 2em;
}
.tutorials {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
}
.tutorial-information {
	width: 45%;
	display: flex;
	flex: 1 1 48%;
	flex-direction: column;
	padding: 5px;
	box-sizing: border-box;
}
.tutorial-detail {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: stretch;
	justify-content: center;
	background-position: center;
	position: relative;
}
.tutorial-information img {
	width: 100%;
	height: 80%;
	object-fit: contain;
}
.tutorial-information img:hover {
	transform: scale(1.03);
	transition: transform 0.3s ease-in-out;
}
.tutorial-information h1 {
	position: absolute;
	z-index: 1;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: var(--font-title);
	color: #ffffff;
	font-size: 1.8em;
	text-align: center;
	text-decoration: none;
}
.tutorial-information a {
	position: absolute;
	z-index: 1;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Lato;
	color: #ffffff;
	font-size: 1.1em;
	text-decoration: underline solid #c7a17a 0.2em;
	text-align: center;
}
.tutorial-information a:hover {
	color: var(--color-secondary);
}
.tutorial-text {
	align-items: center;
	padding: 2em;
}
.tutorial-text p {
	width: 100%;
	display: flex;
	font-family: var(--font-title);
	letter-spacing: -0.03em;
	opacity: 0.4;
	font-size: 1.3em;
	text-align: center;
	line-height: 1.6em;
	margin: 0 auto;
	position: relative;
}

.tutorial-text .italic {
	color: var(--color-text-mid);
	font-style: italic;
	font-family: var(--font-title);
	font-weight: 100;
	font-size: 1.3em;
	opacity: 0.5;
	text-align: center;
	margin: 1em auto;
}

.tutorial-text .bold {
	font-weight: bold;
	font-family: var(--font-title);
	font-size: 1.3em;
	margin: 0 auto;
}

hr {
	border: 1px solid #dddddd52;
	margin: 20px 0;
	width: 95%;
}

/*///////////////// ESTILOS EN DISTINTOS DISPOSITIVOS//////////////////*/

/*----- Tablet horizontal -----*/
@media (max-width: 1080px) {
	/*--- Footer ---*/
	.footer-section {
		padding: 0 2em;
	}

	/*--- Paginas Formularios ---*/
	.contactTitle {
		font-size: 24px;
	}
	.titleContainer {
		display: flex;
		padding-top: 30px;
	}
	.h4Container {
		flex: 0 0 60%;
		text-align: left;
	}

	.lineContainer {
		flex: 0 0 40%;
	}

	/*---Página Tienda---*/
	.tienda-container {
		gap: 0;
		padding: 0;
		justify-content: center;
	}

	.tienda-product {
		width: 80%;
	}

	.tienda-names {
		width: 80%;
	}

	.inputStyles {
		margin-bottom: 30px;
		height: 42px;
	}

	/* Sección Galería */
	.gallery-container {
		padding: 1.5em 3em;
	}

	/* Sección Menú */
	.wine-menu-container {
		padding: 2em 3em;
		margin: 0 3em;
	}
}

/*----- Tablet vertical ------*/
@media (max-width: 768px) {
	/*--- Navbar ---*/
	.header-container {
		justify-content: center;
	}

	.nav-menu {
		display: none;
	}

	.menu-toggle {
		display: flex;
		background: none;
		border: none;
		color: var(--color-text-light);
		font-size: 1.5em;
		cursor: pointer;
		align-items: center;
		margin-right: auto;
		position: absolute;
		left: 1em;
	}

	.logo-container {
		margin: 0 auto;
	}

	.sidebar {
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 0;
		width: 250px;
		height: 100vh;
		background-color: var(--color-background);
		transform: translateX(-100%);
		transition: transform 0.3s ease-in-out;
		padding-top: 1.2em;
		z-index: 8;
	}

	.sidebar.open {
		transform: translateX(0);
	}

	.sidebar-list {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 1.5em;
	}

	.sidebar-list .first-li {
		color: var(--color-secondary);
	}

	.sidebar-list li {
		border-bottom: 1px solid var(--color-text-mid);
		padding: 0.2em 1.5em 1em;
	}

	.sidebar-list a {
		color: var(--color-text-dark);
		font-weight: bold;
		font-family: var(--font-body);
		text-decoration: none;
		font-size: 1em;
		transition: color 0.3s;
	}

	.sidebar-list a:hover {
		color: var(--color-text-mid);
	}

	.hamburger-icon {
		display: inline-block;
		width: 1.5em;
		height: 0.2em;
		background-color: var(--color-background);
		position: relative;
	}

	.hamburger-icon::before,
	.hamburger-icon::after {
		content: '';
		display: block;
		width: 1.5em;
		height: 0.2em;
		background-color: var(--color-background);
		position: absolute;
		transition: transform 0.3s;
	}

	.hamburger-icon::before {
		top: -0.5em;
	}

	.hamburger-icon::after {
		top: 0.5em;
	}

	.menu-toggle.open .hamburger-icon {
		background-color: transparent;
	}
	.menu-toggle.open .hamburger-icon::before {
		transform: rotate(45deg) translate(0.2em, 0.2em);
	}
	.menu-toggle.open .hamburger-icon::after {
		transform: rotate(-45deg) translate(0.2em, -0.2em);
	}

	.our-wine {
		padding: 2em 3em;
	}

	.our-wine-container {
		flex-direction: column;
	}

	.right-aligned {
		text-align: left;
	}

	.central-image {
		padding: 0 0.2em;
		width: 90%;
	}

	.pre-title {
		font-size: 2em;
	}

	/*--- Footer ---*/
	.footer-top-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.footer-logo-container {
		margin-bottom: 3em;
	}

	.footer-newsletter {
		width: 100%;
		margin: 2em auto;
		align-items: center;
	}

	.footer-bottom-container {
		text-align: center;
		padding: 1em 2em;
	}

	/* Página index */
	.carousel-slide img {
		height: 100%;
		object-fit: cover;
		object-position: center;
		transform: scale(2.9);
		transition: transform 0.3s ease-in-out;
	}

	.carousel-text {
		position: absolute;
		top: 35%;
		left: 10%;
		width: 90%;
		padding: 1em;
		max-width: 400px;
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
	}

	.carousel-text .title-banner {
		font-weight: 100;
		margin: 0;
		font-size: 1.5em;
	}

	.carousel-text h2 {
		font-weight: 800;
		margin: 0;
		font-size: 2.5em;
	}

	.carousel-navigation .prev,
	.carousel-navigation .next {
		font-size: 1.2em;
		padding: 8px;
	}

	.carousel-navigation .prev {
		left: 0.5em;
	}

	.carousel-navigation .next {
		right: 0.5em;
	}

	.carousel-indicators {
		display: none;
	}

	.slider-container {
		padding: 0;
	}

	.slider-wrapper {
		width: 300%;
		padding: 0 1em;
	}

	.card {
		width: 30%;
		height: auto;
		margin: 0 1em;
	}

	.card-image {
		height: auto;
	}

	.arrows button.prev,
	.arrows button.next {
		opacity: 1;
		transform: translateY(-50%) translateX(30px);
	}

	.tutorials-section {
		flex-direction: column;
		padding: 2em 3em;
	}

	.tutorial-card {
		height: 32em;
	}

	.pre-title {
		font-size: 2em;
	}

	.title {
		font-size: 4em;
	}

	.subtitle {
		font-size: 1em;
	}

	/*--- Paginas Formularios ---*/
	.h4Container {
		flex: 0 0 45%;
	}
	.lineContainer {
		flex: 0 0 55%;
	}
	.inputStyles {
		margin-bottom: 20px;
		height: 42px;
	}
	.buttonStyles {
		margin-bottom: 0px;
	}

	.containerform {
		display: block;
	}
	.leftColumn {
		background: none;
	}
	.leftColumn,
	.rightColumn {
		min-width: 100%;
		width: 100%;
		flex: none;
		padding: 0px 15px;
	}
	.padding-vertical {
		padding-bottom: 10px !important;
		padding-top: 5px !important;
	}
	.titleContainer {
		padding-top: 60px;
	}

	.textareaTCV {
		padding: 10px 15px;
		width: 100%;
	}
	.containerMensaje {
		margin: 5px 0px;
		padding: 0px 15px;
	}
	.containerButton {
		margin: auto 0px 30px 0px;
		padding-left: 15px;
	}
	.franchiseAndTDC-description {
		font-size: 14px;
		max-width: 75%;
		line-height: 24px;
	}

	/*--- Tutoriales ---*/
	.tutorial-information h1 {
		font-size: 1.49em;
	}
	.tutorial-information a {
		font-size: 0.92em;
	}

	/*--- Menú-tienda ---*/
	.banner-text {
		top: 35%;
	}

	.banner-title-2 {
		font-size: 2.5em;
	}

	.gallery {
		grid-template-columns: 1fr;
	}

	/* Sección Galería */
	.gallery-container {
		flex-direction: column;
		padding: 1em 1.8em;
	}
	.gallery-column {
		width: 80%;
	}
}

/*----- Móvil 1 -----*/
@media (max-width: 480px) {
	/*--- Footer ---*/
	.footer-section {
		padding: 0 1.5em;
	}

	/*--- Paginas Formularios ---*/
	.h4Container {
		flex: 0 0 70%;
	}
	.lineContainer {
		flex: 0 0 30%;
	}
	.paragraphStyles {
		font-size: 14px;
	}
	.inputStyles {
		margin-bottom: 25px;
	}
	.franchiseAndTDC-subtitle {
		margin-top: 60px;
	}
	.franchiseAndTDC-title {
		font-size: 30px;
	}

	.franchiseAndTDC-description {
		max-width: 92%;
	}
	.contactTitle {
		font-size: 24px;
		line-height: 34px;
		text-align: left;
	}

	.buttonStyles {
		margin-bottom: 15px;
	}

	/*--- Tutoriales ---*/
	.tutorial-information h1 {
		font-size: 0.92em;
	}
	.tutorial-information a {
		font-size: 0.57em;
	}

	/* Sección Menú */
	.wine-menu-container {
		padding: 1em 1.5em;
		margin: 0 1.5em;
	}
}

/*----- Móvil 2 -----*/
@media (max-width: 375px) {
	/* Página index */
	.carousel-slide img {
		transform: scale(8);
	}

	/*--- Paginas Formularios ---*/
	.h4Container {
		flex: 0 0 80%;
	}
	.lineContainer {
		flex: 0 0 20%;
	}
	.inputStyles {
		margin-bottom: 30px;
	}

	.franchiseAndTDC-title {
		font-size: 30px;
		line-height: 34px;
		width: 60%;
		margin: auto;
		padding-bottom: 25px;
	}

	/*--- Tutoriales ---*/
	.tutorial-information h1 {
		font-size: 0.74em;
	}
	.tutorial-information a {
		font-size: 0.46em;
	}

	/*--- Menú-tienda ---*/
	.banner-text {
		top: 50%;
	}
}
