<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tienda de Vinos - Inicio</title>
		<link rel="stylesheet" href="../css/styles.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&family=Lato:wght@400&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
		/>
	</head>
	<body>
		<!-- Navbar -->
		<header>
			<div class="header-container">
				<div class="logo-container">
					<img
						src="../assets/img/logo.png"
						alt="Logo Tienda de Vinos"
						class="logo"
					/>
				</div>
				<nav>
					<ul class="nav-list">
						<li><a href="tienda.html">NUESTRO VINO</a></li>
						<li><a href="tutoriales.html">TUTORIALES</a></li>
						<li><a href="menu-tienda.html">NUESTRO MENÚ</a></li>
						<li>
							<a href="trabaja-en-tdc.html">TRABAJÁ CON NOSOTROS</a>
						</li>
						<li><a href="franquicias.html">FRANQUICIAS</a></li>
						<li><a href="contacto.html">CONTACTO</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<!-- Contenido de página -->
		<main>
			<h1>PAGINA DE FRANQUICIAS</h1>
		</main>

		<!-- Footer -->
		<footer>
			<div class="footer-top-container">
				<div class="footer-logo-container">
					<img
						src="../assets/img/logo.png"
						alt="Logo Tienda de Vinos"
						class="footer-logo"
					/>
				</div>
				<div class="footer-links">
					<div class="footer-section">
						<h3>CONTENIDOS</h3>
						<ul>
							<li><a href="index.html">Inicio</a></li>
							<li><a href="tienda.html">Nuestro Café</a></li>
							<li><a href="#">Locales</a></li>
							<li><a href="menu-tienda.html">Nuestro menú</a></li>
						</ul>
					</div>
					<div class="footer-section">
						<h3>NECESITÁS AYUDA</h3>
						<ul>
							<li><a href="tutoriales.html">Tutoriales</a></li>
							<li><a href="trabaja-en-tdc.html">Trabajá en TDV</a></li>
							<li><a href="franquicias.html">Franquicias</a></li>
							<li><a href="contacto.html">Contacto</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-newsletter">
					<h3>SUSCRIBITE A NUESTRO NEWSLETTER</h3>
					<div class="newsletter-input-container">
						<input type="email" placeholder="Tu email" />
						<button type="button" class="subscribe-button">
							SUSCRIBIRME
						</button>
					</div>
					<h3>CONECTATE CON NOSOTROS</h3>
					<div class="footer-social-icons">
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
					</div>
				</div>
			</div>
			<hr class="footer-divider" />
			<div class="footer-bottom-container">
				<p>
					© Copyright 2021 Tienda de Vinos - Todos los derechos reservados.
				</p>
				<p>
					Todos los logos, productos, marcas y nombres aquí utilizados son
					propiedad registrada.
				</p>
			</div>
		</footer>
	</body>
</html>
