<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tienda de Vinos - Inicio</title>
		<link rel="stylesheet" href="../css/styles.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&family=Lato:wght@400&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
		/>
	</head>
	<body>
		<!-- Navbar -->
		<header>
			<div class="header-container">
				<div class="logo-container">
					<img
						src="../assets/img/logo.png"
						alt="Logo Tienda de Vinos"
						class="logo"
					/>
				</div>
				<nav>
					<ul class="nav-list">
						<li><a href="tienda.html">NUESTRO VINO</a></li>
						<li><a href="tutoriales.html">TUTORIALES</a></li>
						<li><a href="menu-tienda.html">NUESTRO MENÚ</a></li>
						<li>
							<a href="trabaja-en-tdc.html">TRABAJÁ CON NOSOTROS</a>
						</li>
						<li><a href="franquicias.html">FRANQUICIAS</a></li>
						<li><a href="contacto.html">CONTACTO</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<!-- Contenido de página -->
		<main>
			<!-- Sección Banner -->
			<section class="carousel">
				<div class="carousel-container">
					<!-- Slide 1 -->
					<div class="carousel-slide">
						<img src="../assets/img/slide-1.jpg" alt="Imagen 1" />
						<div class="carousel-text">
							<h2 class="title-banner">Tu vino preferido</h2>
							<h2>SIEMPRE CERCA</h2>
							<h3>
								Blends, varietales, vinos del mundo. Encontrá tu bodega
								más cercana y tentate con nuestros sabores.
							</h3>
							<a href="#" class="classic-button">ENCONTRANOS</a>
						</div>
					</div>
					<!-- Slide 2 -->
					<div class="carousel-slide">
						<img src="../assets/img/slide-2.jpg" alt="Imagen 2" />
						<div class="carousel-text">
							<h2 class="title-banner">Probá nuestras</h2>
							<h2>SELECCIONES</h2>
							<h3>100% varietales, ideales para cada ocasión</h3>
							<a href="#" class="classic-button">DESCUBRILAS</a>
						</div>
					</div>
					<!-- Slide 3 -->
					<div class="carousel-slide">
						<img src="../assets/img/slide-3.jpg" alt="Imagen 3" />
						<div class="carousel-text">
							<h2 class="title-banner">Desde 2007</h2>
							<h2>CREANDO TUS VINOS</h2>
							<h3>
								Años de experiencia cuidando cada paso del proceso.
							</h3>
						</div>
					</div>
				</div>

				<div class="carousel-navigation">
					<span class="prev">&#10094;</span>
					<span class="next">&#10095;</span>
				</div>

				<div class="carousel-indicators">
					<span class="dot"></span>
					<span class="dot"></span>
					<span class="dot"></span>
				</div>
			</section>

			<!-- Sección Slider de productos -->
			<section id="product-slider" class="slider">
				<h2>NUESTROS PRODUCTOS</h2>
				<div class="line"></div>
				<div class="slider-container">
					<div class="slider-wrapper">
						<div class="card">
							<div class="card-content">
								<img
									src="../assets/img/vino-1.jpg"
									alt="Producto 1"
									class="card-image"
								/>
								<div class="info">
									<h3>Vino Tinto</h3>
									<p>Descripción del producto 1</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-content">
								<img
									src="../assets/img/vino-2.jpg"
									alt="Producto 2"
									class="card-image"
								/>
								<div class="info">
									<h3>Vino Blanco</h3>
									<p>Descripción del producto 2</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-content">
								<img
									src="../assets/img/vino-3.jpg"
									alt="Producto 3"
									class="card-image"
								/>
								<div class="info">
									<h3>Vino Blanco</h3>
									<p>Descripción del producto 2</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-content">
								<img
									src="../assets/img/vino-4.jpg"
									alt="Producto 4"
									class="card-image"
								/>
								<div class="info">
									<h3>Vino Blanco</h3>
									<p>Descripción del producto 2</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-content">
								<img
									src="../assets/img/vino-5.jpg"
									alt="Producto 5"
									class="card-image"
								/>
								<div class="info">
									<h3>Vino Blanco</h3>
									<p>Descripción del producto 2</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-content">
								<img
									src="../assets/img/vino-6.jpg"
									alt="Producto 6"
									class="card-image"
								/>
								<div class="info">
									<h3>Vino Blanco</h3>
									<p>Descripción del producto 2</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-content">
								<img
									src="../assets/img/vino-7.jpg"
									alt="Producto 7"
									class="card-image"
								/>
								<div class="info">
									<h3>Vino Blanco</h3>
									<p>Descripción del producto 2</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-content">
								<img
									src="../assets/img/vino-8.jpg"
									alt="Producto 8"
									class="card-image"
								/>
								<div class="info">
									<h3>Vino Blanco</h3>
									<p>Descripción del producto 2</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-content">
								<img
									src="../assets/img/vino-9.jpg"
									alt="Producto 9"
									class="card-image"
								/>
								<div class="info">
									<h3>Vino Blanco</h3>
									<p>Descripción del producto 2</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-content">
								<img
									src="../assets/img/vino-10.jpg"
									alt="Producto 10"
									class="card-image"
								/>
								<div class="info">
									<h3>Vino Blanco</h3>
									<p>Descripción del producto 2</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="arrows">
					<button class="prev" onclick="moveSlide(-1)">&#10094;</button>
					<button class="next" onclick="moveSlide(1)">&#10095;</button>
				</div>
				<div class="dots">
					<span class="dot"></span>
					<span class="dot"></span>
				</div>
			</section>
		</main>

		<!-- Footer -->
		<footer>
			<div class="footer-top-container">
				<div class="footer-logo-container">
					<img
						src="../assets/img/logo.png"
						alt="Logo Tienda de Vinos"
						class="footer-logo"
					/>
				</div>
				<div class="footer-links">
					<div class="footer-section">
						<h3>CONTENIDOS</h3>
						<ul>
							<li><a href="index.html">Inicio</a></li>
							<li><a href="tienda.html">Nuestro Café</a></li>
							<li><a href="#">Locales</a></li>
							<li><a href="menu-tienda.html">Nuestro menú</a></li>
						</ul>
					</div>
					<div class="footer-section">
						<h3>NECESITÁS AYUDA</h3>
						<ul>
							<li><a href="tutoriales.html">Tutoriales</a></li>
							<li><a href="trabaja-en-tdc.html">Trabajá en TDV</a></li>
							<li><a href="franquicias.html">Franquicias</a></li>
							<li><a href="contacto.html">Contacto</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-newsletter">
					<h3>SUSCRIBITE A NUESTRO NEWSLETTER</h3>
					<div class="newsletter-input-container">
						<input type="email" placeholder="Tu email" />
						<button type="button" class="subscribe-button">
							SUSCRIBIRME
						</button>
					</div>
					<h3>CONECTATE CON NOSOTROS</h3>
					<div class="footer-social-icons">
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
					</div>
				</div>
			</div>
			<hr class="footer-divider" />
			<div class="footer-bottom-container">
				<p>
					© Copyright 2021 Tienda de Vinos - Todos los derechos reservados.
				</p>
				<p>
					Todos los logos, productos, marcas y nombres aquí utilizados son
					propiedad registrada.
				</p>
			</div>
		</footer>

		<script>
			// Script para el Banner
			document.addEventListener('DOMContentLoaded', function () {
				let slideIndex = 0;
				const slides = document.querySelectorAll('.carousel-slide');
				const dots = document.querySelectorAll('.carousel-indicators .dot');

				function showSlide(index) {
					if (index >= slides.length) slideIndex = 0;
					if (index < 0) slideIndex = slides.length - 1;

					slides.forEach((slide) => {
						slide.style.display = 'none';
						slide
							.querySelector('.carousel-text')
							.classList.remove('active');
					});
					dots.forEach((dot) => dot.classList.remove('active'));
					slides[slideIndex].style.display = 'block';
					slides[slideIndex]
						.querySelector('.carousel-text')
						.classList.add('active');
					dots[slideIndex].classList.add('active');
				}

				showSlide(slideIndex);

				function nextSlide() {
					showSlide(++slideIndex);
				}

				function prevSlide() {
					showSlide(--slideIndex);
				}

				document
					.querySelector('.next')
					.addEventListener('click', nextSlide);
				document
					.querySelector('.prev')
					.addEventListener('click', prevSlide);

				dots.forEach((dot, i) => {
					dot.addEventListener('click', () => {
						slideIndex = i;
						showSlide(slideIndex);
					});
				});
			});

			// // Script para el slider de productos
			let productSlideIndex = 0;
			const productsPerPage = 5;
			const totalProducts = 10;

			function showProductSlide() {
				const sliderWrapper = document.querySelector('.slider-wrapper');

				const offset = -(
					productSlideIndex *
					(100 / (totalProducts / productsPerPage))
				);

				sliderWrapper.style.transform = `translateX(${offset}%)`;
				updateDots();
			}

			function moveSlide(n) {
				productSlideIndex += n;

				if (productSlideIndex >= totalProducts / productsPerPage) {
					productSlideIndex = 0;
				} else if (productSlideIndex < 0) {
					productSlideIndex = totalProducts / productsPerPage - 1;
				}

				showProductSlide();
			}

			function currentSlide(n) {
				productSlideIndex = n;
				showProductSlide();
			}

			function updateDots() {
				const productDots = document.querySelectorAll('.dots .dot');

				productDots.forEach((dot) => dot.classList.remove('active'));

				productDots[productSlideIndex].classList.add('active');
			}

			document
				.querySelector('.next')
				.addEventListener('click', () => moveSlide(1));
			document
				.querySelector('.prev')
				.addEventListener('click', () => moveSlide(-1));

			const productDots = document.querySelectorAll('.dots .dot');
			productDots.forEach((dot, index) => {
				dot.addEventListener('click', () => currentSlide(index));
			});
			showProductSlide();
		</script>
	</body>
</html>
